.footer {
    display: flex;
    flex-direction: column;
    background-color: #00B700;
    color: white;
    padding: 2rem;
}

.footer-row {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.footer-brand-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer-navigation-container {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.footer-navigation {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer-navigation-title {
    font-size: 1.25rem;
    font-weight: 600;
}

.footer-navigation-links {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.footer-navigation-link {
    color: white;
    gap: 0.5rem;
}

@media (min-width: 992px) {

    .footer-row {
        flex-direction: row;
        justify-content: space-between;
    }

    .footer-navigation-container {
        flex-direction: row;
    }
}