.page {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-bottom: 2rem;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    padding: 2rem 1rem 1rem 1rem;
    background-image: linear-gradient(to bottom right, #B3FFB2, #D8FFD7);
    margin: 0 1rem;
    border-radius: 1rem;
}

.hero-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
}

.hero-title {
    font-family: "Playfair Display", serif;
    font-weight: 600;
    font-size: 2.5rem;
    letter-spacing: -2%;
    color: #0A5D0C;
}

.hero-text {
    color: #0A5D0C;
}

.hero-cta-desktop {
    display: none;
}

.hero-image {
    width: 100%;
    max-width: 25rem;
    align-self: center;
}

.hero-cta-mobile {
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
}

.about {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 0 1rem;
    padding: 2rem 1rem;
}

.about-title {
    font-family: "Playfair Display", serif;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: -2%;
}

.vission-mission {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 0 1rem;
    padding: 2rem 1rem;
}

.vission-mission-title {
    font-family: "Playfair Display", serif;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: -2%;
}

.vission-mission-body {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.vission,
.mission {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.vission-title,
.mission-title {
    font-family: "Playfair Display", serif;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: -2%;
}

.vission-list,
.mission-list {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
}

.advantages {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 0 1rem;
    padding: 2rem 1rem;
}

.advantages-title {
    font-family: "Playfair Display", serif;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: -2%;
}

.advantages-body {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.advantage {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.advantage-icon {
    font-size: 2rem;
    color: #00B700;
}

.advantage-title {
    font-family: "Playfair Display", serif;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: -2%;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: flex-start;
    padding: 2rem 0;
}

.menu-title {
    font-family: "Playfair Display", serif;
    font-weight: 600;
    font-size: 2rem;
    margin: 0 2rem;
    letter-spacing: -2%;
}

.menu-cards {
    width: 100%;
    display: flex;
    gap: 2rem;
    overflow-x: auto;
    padding: 0 2rem;
}

.menu-card {
    width: 12.5rem;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    gap: 1.5rem;
}

.menu-card-image {
    align-self: stretch;
    border-radius: 1rem;
}

.menu-card-title {
    font-family: "Playfair Display", serif;
    font-weight: 600;
    font-size: 1.5rem;
    letter-spacing: -2%;
}

.menu-more-button {
    margin: 0 2rem;
}

.review {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: flex-start;
    padding: 2rem 0;
}

.review-title {
    font-family: "Playfair Display", serif;
    font-weight: 600;
    font-size: 2rem;
    margin: 0 2rem;
    letter-spacing: -2%;
}

.review-cards {
    width: 100%;
    display: flex;
    gap: 2rem;
    overflow-x: auto;
    padding: 0 2rem;
}

.review-card {
    width: 18.75rem;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    gap: 1.5rem;
}

.review-card-image {
    width: 3rem;
    height: 3rem;
}

.review-card-title {
    font-family: "Playfair Display", serif;
    font-weight: 600;
    font-size: 1.5rem;
    letter-spacing: -2%;
}

.review-more-button {
    margin: 0 2rem;
}

.contact {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 0 1rem;
    padding: 2rem 1rem;
}

.contact-title {
    font-family: "Playfair Display", serif;
    font-weight: 600;
    font-size: 2rem;
    letter-spacing: -2%;
}

.contact-row-1 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact-row-1 .button {
    padding: 1rem 0;
    justify-content: center;
    width: 100%;
}

.contact-or {
    align-self: center;
}

.contact-row-2 {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.contact-row-2 .button {
    padding: 1rem 0;
    justify-content: center;
    width: 100%;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.textarea-field {
    flex-grow: 1;
}

.textarea {
    font-family: "Outfit", sans-serif;
    font-size: 0.875rem;
    height: 12.5rem;
    resize: none;
}

.map {
    width: 100%;
    aspect-ratio: 1 / 1;
    border: 0.0625rem solid #888888;
    border-radius: 0.5rem;
}

.map iframe {
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
}

.bottom-tagline {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 0 1rem;
    padding: 2rem 1rem;
    background-image: linear-gradient(to bottom right, #B3FFB2, #D8FFD7);
    border-radius: 1rem;
}

.tagline-title {
    font-family: "Playfair Display", serif;
    font-size: 2.5rem;
    font-weight: 600;
    color: #0A5D0C;
    letter-spacing: -2%;
}

.bottom-cta {
    padding: 1rem 0;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
}

@media (min-width: 992px) {
    .page {
        gap: 4rem;
        padding-bottom: 4rem;
    }

    .hero {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 0 4rem;
        padding: 4rem;
    }

    .hero-column {
        max-width: 37.5rem;
    }

    .hero-title {
        font-size: 3rem;
    }

    .hero-cta-desktop {
        display: flex;
    }

    .hero-image {
        width: 25rem;
    }

    .hero-cta-mobile {
        display: none;
    }

    .about {
        width: 100%;
        max-width: 72rem;
        margin: 0 4rem;
        padding: 0 4rem;
        align-self: center;
        align-items: center;
        gap: 3rem;
    }

    .about-title {
        font-size: 2.5rem;
        text-align: center;
    }

    .about-text {
        text-align: center;
    }

    .vission-mission {
        width: 100%;
        max-width: 72rem;
        margin: 0 4rem;
        padding: 0 4rem;
        align-self: center;
        align-items: center;
        gap: 3rem;
    }

    .vission-mission-title {
        font-size: 2.5rem;
        text-align: center;
    }

    .vission-mission-body {
        flex-direction: row;
        gap: 3rem;
    }

    .vission,
    .mission {
        width: 100%;
        align-items: center;
    }

    .vission-title,
    .mission-title {
        text-align: center;
    }

    .advantages {
        width: 100%;
        max-width: 72rem;
        margin: 0 4rem;
        padding: 0 4rem;
        align-self: center;
        align-items: center;
        gap: 3rem;
    }

    .advantages-title {
        font-size: 2.5rem;
        text-align: center;
    }

    .advantages-body {
        flex-direction: row;
        gap: 1.5rem;
    }

    .advantage {
        align-items: center;
        padding: 2rem;
        gap: 2rem;
    }

    .advantage-icon,
    .advantage-title,
    .advantage-text {
        text-align: center;
    }

    .menu {
        width: 100%;
        max-width: 72rem;
        margin: 0 4rem;
        padding: 0 4rem;
        align-self: center;
        align-items: center;
        gap: 3rem;
    }

    .menu-title {
        font-size: 2.5rem;
        text-align: center;
        margin: 0;
    }

    .menu-cards {
        width: 100%;
        padding: 0;
        gap: 4rem;
        justify-content: space-between;
    }

    .menu-card {
        flex-grow: 1;
        max-width: 18.75rem;
    }

    .review {
        width: 100%;
        max-width: 72rem;
        margin: 0 4rem;
        padding: 0 4rem;
        align-self: center;
        align-items: center;
        gap: 3rem;
    }

    .review-title {
        font-size: 2.5rem;
        margin: 0;
    }

    .review-cards {
        width: 100%;
        padding: 0;
        gap: 1.5rem;
        display: grid;
        justify-content: center;
        grid-template-columns: 1fr 1fr;
    }

    .review-card {
        width: 100%;
        padding: 2rem;
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
        gap: 1.5rem;
    }

    .review-card-text {
        grid-column: 1 / span 2;
    }

    .contact {
        width: 100%;
        max-width: 72rem;
        gap: 3rem;
        margin: 0 4rem;
        padding: 0 4rem;
        align-self: center;
    }

    .contact-row-1 {
        flex-direction: row;
        gap: 3rem;
    }

    .contact-row-2 {
        flex-direction: row;
        gap: 3rem;
    }

    .contact-form {
        width: 100%;
    }

    .textarea {
        height: 100%;
    }

    .bottom-tagline {
        margin: 0 4rem;
        padding: 4rem;
        justify-content: center;
        align-items: center;
    }

    .tagline-title {
        text-align: center;
    }

    .bottom-cta {
        padding: 1rem 1.25rem 1rem 1.5rem;
    }
}
